__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/


.venv/

.ipynb_checkpoints/
*.ipynb_checkpoints


mlruns/
mlflow.db
mlartifacts/

data/raw/
data/processed/

models/*.pkl
models/*.joblib
models/*.h5
models/*.pt
models/*.onnx

logs/
*.log

.env
.env.*
*.env
────
tests/
src/dashboard/app1.py

Explanation.txt

.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
